@model IEnumerable<IoTDeviceManager.Models.Microcontroller>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MACAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChipModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmwareVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeenAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                Connected Sensor Modules
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MACAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmwareVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSeenAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site.SiteName)
            </td>
            <td>
                @{
                    if (item.DeviceConfigurations == null)
                    {
                        <span>0</span>
                    }
                    else
                    {
                        <span>@item.DeviceConfigurations.Count</span>
                    }
                }
            </td>
            <td>
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Technician"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
